/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}

.btn-light {
    font-weight: 700;
}

/* navbar */
.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: #3E3E3E;
}

.navbar-light .navbar-nav .nav-link {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 16px;
}

/* carousel area start */
.carousel-caption h2 {
    font-weight: 600;
    font-size: 48px;
}

.carousel-btn {
    width: 165px;
    height: 44px;
    padding: 10px;
}


.carousel-caption p {
    font-weight: 300;
    font-size: 16px;
    width: 51%;
    margin: 0 auto;
    letter-spacing: 1.3px;
}


/* carousel area end */

/* moment area start */
.moment {
    margin-top: 100px;
}

.moment-desc {
    margin-top: 70px;
}

.moment-desc h1 {
    font-size: 38px;
    font-weight: 700;
}



/* moment area end */