/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.btn-light {
    font-weight: 700;
}

/* navbar */


.navbar-collapse {
    flex-grow: 0;
}

.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    color: #3E3E3E;
}

.navbar-light .navbar-nav .nav-link {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 16px;
}

/* carousel area start */
.carousle-title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 10px;
}

.carousel-caption {
    margin-top: 10px;
}

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

.carousel-desc {
    font-weight: 300;
    font-size: 16px;
    width: 51%;
    margin: 0 auto;
    letter-spacing: 1.3px;
}

/* toast stytles */
.toast:not(.show) {
    display: block;
    position: relative;
    top: -189px;
}

.toast-body span {
    font-size: 20px;
    color: #007CFF;
    margin-right: 6px;
}

.toast {
    float: right;
    border-left: 10px solid #3F87F5;
}

/* carousel area end */

/* moment area start */
.moment {
    margin-top: 100px;
}

.moment-desc {
    margin-top: 70px;
}

.moment-desc h1 {
    font-size: 38px;
    font-weight: 700;
}

/* moment area end */
/*----
 pricing styles 
 -----*/
.pricing-area {
    margin-top: 100px;
}

.section-title h1 {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

.card {
    width: 292px;
    height: 480px;
    border: none;
    display: flex;
    flex-direction: column;

}

.card-header {
    background-color: #fff;
    border: none;
}


.card-details {
    font-weight: 400;
    font-size: 15px;
    color: #848199;
}

.cardThird {
    color: #fff;
}

.card-body ul li {
    margin-top: 20px;
}

.card-body ul li i {
    position: relative;
    z-index: 1;
    font-size: 12px;
    margin-right: 10px;
}

.card-body ul li i::after {
    position: absolute;
    content: '';
    top: -5px;
    left: -4px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(82, 67, 194, 0.103693);
    opacity: .5;
    z-index: -1;
}

.card-btn {
    position: relative;
}


.card-btn::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .1;
    left: 0;
    top: 0;
    border-radius: 24px;
    background-color: #F496D1;
}

.card-btn3 {
    background-color: #fff;
    color: #fff;
    border-radius: 25px;
}

.card-active {
    border-radius: 20px;
    color: #fff;
    padding: 50x;
    padding-top: 20px;
    height: 100%;
    padding-left: 8px;
    box-shadow: 0px 10px 10px #3F87F5;
    background-color: #3F87F5;
}

.card-active {
    position: relative;
}

.badge {
    position: absolute;
    padding: 8px 18px;
    top: -12px;
    right: 18px;
    text-align: center;
    border-radius: 35px;
    color: #fff;
    background-color: red;
}

.badge p {
    margin: 0 auto;
    text-align: center;
}

/*---
 pricing styles end 
 -----*/

/* ------
 happy clients style
 ---- */
.Happy-clients {
    margin-top: 140px;
}



.clients-area {
    text-align: center;
    margin-top: 80px;

}

.clients-area .card {
    width: auto;
    height: auto;

}

.card-title {
    font-size: 14px;
    font-weight: 600;
    color: #0c1920;
}



.card-text {
    font-size: 14px;
    font-weight: 600;
    color: #747474;
}

/* card area end */

/* ---
faq start 
--- */
.Faq {
    margin-top: 130px;
}

.accordion-item {
    margin-top: 30px;
}

.faq-img {
    margin-top: 4px;
}

/* faq end */
/* footer start */
footer {
    margin-top: 100px;
    width: 100%;
    color: #fff;
    background-color: #0b0d17;
}



.icon-info {
    display: flex;
    border: 1px solid #fff;
    padding: 1px 28px;
    border-radius: 20px;
}


.icons {
    position: relative;
    top: -13px;
    left: -13px;
    font-size: 54px;
}

.icon-desc p {
    margin-bottom: 2px;
    color: #fff;
}

/* footer end */
/* media querires */
@media only screen and (max-width: 576px) {
    .carousel-desc {
        width: 100%;
        font-size: 14px;
    }

    .carousle-title {
        font-size: 28px;
    }

    /* pricing */
    .card.card-active {
        width: 100%;
        display: block;
        height: 94%;
        margin-bottom: 38px;
    }

    .card {
        width: 100%;
        box-shadow: 2px 2px 8px grey;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .copyright {
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }

    .row.mt-5.d-flex {
        flex-direction: column-reverse;
    }

    .icon-info {
        flex-direction: column;
        align-items: center;
    }

    .icon h4 {
        text-align: center;
    }
}

/* tablet view */
@media only screen and (max-width: 992px) {
    .faq-img {
        margin-top: 99px;
    }
}